@media only screen and (max-width: 900px) {
  .header__toolbar {
    display: flex !important;
  }

  .header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: lightgray;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .header nav a{
    margin: 0 2rem;
    color: #000;
    text-decoration: none;
  }

  .header .responsive_nav{
    transform: none;
  }
}